@import '../../styles/settings.scss';

.root {
  background: #1f2329;
  display: flex;
  padding: 0.8rem 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
